<script src="/scripts/MainScript/Appliances.js"></script>

<span class="nameFormAdd">Бытовая техника</span><br />
<input id="Large" type="checkbox" value="Large" class="typeAppliances" /><span>&nbsp;</span><label id="kbt"> КБТ&nbsp;&nbsp;&nbsp;</label><input id="Small" type="checkbox" value="Small" class="typeAppliances" /><span>&nbsp;</span><label id="mbt"> МБТ</label><br />
<span class="spanOnMainPage">Цена:   </span> <br />
<input type="number" class="inputTextAddInDB" id="AppliancesPrice" /><br />
<span class="spanOnMainPage">Кол-во: </span> <br />
<input type="number" class="inputTextAddInDB" value="1" id="AppliancesCount" /><br /><br />
<input type="button" value="Добавить" class="btn btn-primary btn-xs" id="AddAppliances" />

