<script src="/scripts/MainScript/Bestsellers.js"></script>

<span class="nameFormAdd">Хит</span><br />
<span class="spanOnMainPage">Цена:    </span><br /><input type="number" class="inputTextAddInDB" id="BestsellersPrice" /><br />
<span class="spanOnMainPage">Кол-во: </span><br /> <input type="number" class="inputTextAddInDB" value="1" id="BestsellersCount" /><br /><br />
<input type="button" value="Добавить" class=" btn btn-primary btn-xs" id="AddBestseller" />

