<script src="/scripts/MainScript/Insurance.js"></script>

<span class="nameFormAdd">Страховка</span><br />
<span class="spanOnMainPage">Цена:   </span><br /> <input type="number" id="InsurancePrice" /><br />
<span class="spanOnMainPage">Тип техники: &nbsp;</span>
<select id="typeInsurance">
    <option id="Portable">Портативная техника</option>
    <option id="Stationary">Стационарная техника</option>
</select><br /><br />
<input type="button" value="Добавить" id="AddInsuranceButton" />

