<script src="/scripts/MainScript/SimCard.js"></script>

<span class="nameFormAdd">Сим-карты</span><br />
<span class="spanOnMainPage">Оператор:</span>
<select id="operators">
    <option id="Megafon">Megafon</option>
    <option id="Beeline">Beeline</option>
    <option id="Yota">Yota</option>
    <option id="Tele2">Tele2</option>
    <option id="MTS">MTS</option>
</select><br /><br />

<input type="button" value="Добавить" class="btnAddInDB" id="AddSim" />

